body {
    font-family: 'Segoe UI', sans-serif;
    background: radial-gradient(circle at top, #2992d8, #000);
    color: #fff;
    padding: 30px;
    text-align: center;
  }
  
  h1, h2 {
    color: #ffd700;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f0f0f0da;
    color: #0a0a0a;
  }
  
  th, td {
    padding: 12px;
    border: 1px solid #444;
  }
  
  th {
    background-color: #440055;
    color: #ffd700;
  }
  
  tr:nth-child(even) {
    background-color: #2a2a2a;
  }
  
  a {
    color: #ffd700;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    color: #ff9900;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(255, 215, 0, 0.4);
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
  }
  
  select, textarea, input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #2c003e;
    border: 1px solid #ffd700;
    color: white;
    border-radius: 5px;
  }
  
  button {
    background-color: #ffd700;
    color: #2c003e;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff9900;
  }
  

  /*ESTILOS DE LISTA DE SOLICITUDES POR ATENCION*/

  